[Desktop Entry]
Version=1.0
Type=Link
Name=Ильяхов
Comment=
Icon=user-bookmarks
URL=https://maximilyahov.ru/blog/all/kak-ya-vybral-pisatelya-pomoschnika/
